.consultas-content {
  margin: 0 auto;
  max-width: 90%;
  .title {
    border-bottom: 1px solid $accent-color;
    color: $accent-color;
    margin: 0 20px 30px 20px;
    padding: 30px 20px 5px 20px;
  }

  .card{
    margin: 10px;
    h5 {
      margin: 0 10px;
      padding: 30px 20px 0 20px;
    }
    .input-field-custom{
      margin: 10px 0 0 10px;
      padding-right: 15px;
      width: 100%;
    }
  }
  .card-title {
    padding: 10px !important;
    margin: 10px !important;
  }
  .card-content {
    text-align: center;
  }

  .tabs .indicator {
    background-color: $primary-color !important;
  }
  .tabs li.tab a {
    color: $primary-color !important;
  }
  .tabs li.tab a:hover {
    color: $primary-color-dark !important;
  }

  .my-tab-content {
    min-height: 100px;
  }

  .checkbox-red[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid $primary-color-light;
    background-color: $primary-color-light;
  }
  .checkbox-red[type="checkbox"].filled-in:disabled + label:after{
    opacity: 0.4;
    border: 2px solid $accent-color;
    background-color: $accent-color;
  }

  ul.dropdown-content.select-dropdown li span{
    color: $accent-color;
  }

  .results-divider {
    background-color: $accent-color;
    height: 1px;
    margin: 20px -2.5vw;
    width: 95vw;
  }

}

.search-btn-holder {
  text-align: center;
  a{
    margin: 10px;
  }

}

.my-info-modal{
  h4{
    color: $primary-color !important;
  }
  .description {
      margin: 20px 50px 0 50px;
      text-align: left;
  }

}
